@media screen and (min-width: 1440px) {
  .home-icon {
    margin-left: 0;
  }
  .link-border {
    transform: translateX(0);
  }
}

@media screen and (min-width: 1366px) and (max-width: 1439px) {
  .home {
    max-width: 90%;
  }
  .home-icon {
    margin-left: 3.5rem;
  }
  .link-border {
    transform: translateX(0);
  }
}

@media screen and (min-width: 1280px) and (max-width: 1365px) {
  .home {
    max-width: 90%;
  }
  .home-icon {
    margin-left: 7.2rem;
  }
}

/*PC*/
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .container {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .home {
    max-width: 90%;
  }
  .home-icon {
    margin-left: 4rem;
  }

  .home-navbar {
    left: 5rem;
  }

  .home-grid-layout {
    grid-template-columns: 13.44rem 13.44rem 6rem 14.44rem 14.55rem;
    grid-template-rows: 5rem 5.8rem 7rem 8.4rem 7.3rem 3.6rem 15.9rem;
    top: 10rem;
  }

  .home-title h1 {
    font-size: 5rem;
  }

  .home-title h3 {
    font-size: 3rem;
    margin-left: 25rem;
  }

  .experienced-content {
    padding-top: 10rem;
  }

  .experienced-text {
    font-size: 1.6rem;
  }
  .experienced-title1 {
    font-size: 6.5rem;
  }

  .experienced-title2 {
    font-size: 7rem;
    margin-top: 1rem;
  }

  .experienced-title3 {
    font-size: 4rem;
    text-align: right;
  }

  .quote-top {
    top: -0.5rem;
    left: -2rem;
  }

  .quote-bottom {
    right: -2rem;
  }

  .home-contact {
    margin-left: -2rem;
  }

  .link-border {
    transform: translateX(0);
  }
}

/*Tablet*/
@media only screen and (min-width: 740px) and (max-width: 1023px) {
  .hide-on-tablet {
    display: none;
  }

  header {
    height: 71rem;
  }

  .home {
    top: 0;
    /* border-bottom: 1px solid rgba(210, 221, 232, 0.5); */
    border-radius: 0px;
  }

  .home-title h1 {
    font-size: 5rem;
    margin-left: 4rem;
  }

  .home-title h3 {
    font-size: 3.5rem;
    position: relative;
    margin-top: 16rem;
    margin-left: 16.7rem;
  }

  .home-icon {
    margin-left: 3.6rem;
    margin-right: 9.6rem;
  }

  .home-navbar {
    margin-top: 0rem;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 3rem;
    background-color: white;
    z-index: 99;
    position: fixed;
  }

  .navbar-link {
    display: block;
    background-color: white;
    position: absolute;
    top: 6.2rem;
    left: 0;
    right: 0;
    width: 100%;
    display: none;
    padding-top: 10rem;
    box-shadow: 0px 15px 10px -15px #7d8ad0;
  }

  .navbar-link a {
    display: block;
    font-size: 3.4rem;
    margin-bottom: 5rem;
    margin-left: 6.4rem;
    text-shadow: 0px 8px 12px #d6e1eb;
  }

  .menu-mobile {
    display: inline-block;
    margin-right: 2.4rem;
    margin-left: 4rem;
  }

  .home-grid-layout {
    top: 15rem;
    grid-template-columns: 15.44rem 15.44rem 8rem 12.44rem 13.55rem;
    grid-template-rows: 6rem 4.8rem 7rem 7.4rem 6.3rem 2.6rem 13.9rem;
  }

  .home-grid-item.item11 {
    background-position: center 40%;
  }

  .home-grid-item.item9 {
    background-position: 5% 55%;
  }

  .feedback {
    border-top: 1px solid #d2dde8;
    margin-top: 6rem;
  }

  .feedback-box {
    padding: 3rem 0 6rem;
  }

  .feedback-text {
    max-width: 100%;
    margin-top: 0;
    padding: 0 3rem;
  }

  .experienced-content {
    padding-top: 10rem;
  }

  .experienced-text {
    font-size: 1.4rem;
  }
  .experienced-title1 {
    font-size: 3.5rem;
    line-height: 6rem;
  }
  .experienced-title2 {
    margin-top: 0;
    font-size: 4.5rem;
  }

  .experienced-title3 {
    font-size: 2rem;
  }
  footer {
    height: auto;
    padding-bottom: 4rem;
  }

  .footer-title {
    font-size: 1.4rem;
  }

  .footer-text {
    font-size: 1.3rem;
  }

  .line-row {
    width: 2.2rem;
  }

  .quote {
    display: inline-block;
  }

  .quote-top {
    left: 1.5rem;
  }

  .quote-bottom {
    right: 1.5rem;
  }

  footer .container {
    padding-left: 4rem;
  }

  .show-mb-tb {
    display: block;
  }

  .close-mb-tb {
    display: none;
  }

  .scrolling {
    padding: 1.3rem 0;
    box-shadow: 0 3px 20px #e4e8f4;
  }

  .navbar-link {
    height: 60vh;
  }

  .navbar-link a {
    font-size: 3.4rem;
    margin-bottom: 5%;
  }
}

/*Mobile*/
@media only screen and (max-width: 739px) {
  .hide-on-mobile {
    display: none;
  }

  header {
    height: 61rem;
  }
  .home {
    height: 61rem;
    top: 0;
    border-bottom: 1px solid rgba(210, 221, 232, 0.5);
    border-radius: 0px;
  }
  .home-title h1 {
    font-size: 4rem;
    margin-left: 3rem;
  }

  .home-title h3 {
    font-size: 2rem;
    position: relative;
    margin-top: 12.5rem;
    margin-left: 16.7rem;
  }

  .home-icon {
    margin-left: 3.6rem;
    margin-right: 9.6rem;
  }

  .home-navbar {
    margin-top: 0rem;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 3rem;
    background-color: white;
    position: fixed;
  }

  .navbar-link {
    display: block;
    background-color: white;
    position: absolute;
    top: 6.2rem;
    left: 0;
    right: 0;
    width: 100%;
    display: none;
    padding-top: 10rem;
    box-shadow: 0px 15px 10px -15px #7d8ad0;
  }

  .navbar-link a {
    display: block;
    font-size: 3.4rem;
    margin-bottom: 5rem;
    margin-left: 6.4rem;
    text-shadow: 0px 8px 12px #d6e1eb;
  }

  .menu-mobile {
    display: inline-block;
    margin-right: 2.4rem;
    margin-left: 4rem;
  }

  .quote {
    display: none;
  }

  .home-grid-layout {
    position: absolute;
    grid-template-columns: 6.8rem 5.1rem 16.1rem;
    grid-template-rows: 10.4rem 2.5rem 7.7rem 3.2rem 12.3rem;
    grid-template-areas:
      "a0 a0 a10"
      "a1 a7 a7"
      "a1 a7 a7"
      "a11 a11 a11"
      "a11 a11 a11";
    top: 39%;
    right: 0;
    gap: 0;

    overflow-x: hidden;
  }

  .home-grid-item {
    border-top-left-radius: 1.4rem !important;
  }

  .home-grid-item.item7,
  .home-grid-item.item10 {
    border-bottom: 4px solid white;
    border-left: 4px solid white;
    border-bottom-left-radius: 4px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: -2.4rem;
  }

  .home-grid-item.item7 {
    background-position: 18% 46%;
  }

  .home-grid-item.item11 {
    background-position: center 17%;
  }

  .home-grid-item.item1,
  .home-grid-item.item2,
  .home-grid-item.item3,
  .home-grid-item.item4,
  .home-grid-item.item5,
  .home-grid-item.item6,
  .home-grid-item.item8,
  .home-grid-item.item9 {
    display: none;
  }

  .feedback {
    padding: 0 1rem;
  }

  .feedback-text {
    max-width: 100%;
    margin-top: 3rem;
    font-size: 1.7rem;
  }

  .feedback-link {
    margin-top: 5rem;
  }

  .feedback-title {
    font-size: 2.8rem;
    padding-top: 5rem;
  }

  .feedback-box {
    padding: 0;
  }

  .award {
    height: 60rem;
  }

  .award-grid-layout {
    width: 28.7rem;
    height: 21.3rem;
    position: absolute;
    top: 24rem;
    grid-template-columns: 6rem 6rem 6rem 6rem;
    grid-template-rows: 6rem 6rem 6rem;
    grid-gap: 1.5rem;
    grid-template-areas:
      "h1 h2 h3 h4 "
      "h5 h7 h8 h6 "
      "h9 h10 h10 h6 ";
  }

  .award-content {
    padding: 0 1.5rem;
  }

  .award-title {
    font-size: 2.8rem;
    font-weight: 400;
    padding-top: 5rem;
    margin-bottom: 2rem;
  }

  .award-text {
    font-size: 1.7rem;
    line-height: 2.8rem;
  }

  .break-line {
    display: inline;
  }

  .experienced-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .experienced {
    height: auto;
  }

  .experienced-content {
    padding: 5rem 3.5rem 6rem;
  }

  .experienced-text {
    font-size: 1.7rem;
  }
  .experienced-title1 {
    font-size: 2rem;
    line-height: 4rem;
  }
  .experienced-title2 {
    margin-top: 0;
    font-size: 3.5rem;
  }

  .experienced-title3 {
    font-size: 2rem;

    margin-left: 6rem;
  }

  .experienced-text {
    margin-top: 3rem;
  }

  .social-contact {
    padding: 0 3rem;
  }

  .social-icon a {
    margin-right: 3rem;
  }

  .social-title {
    line-height: 3.4rem;
  }

  .feedback-text,
  .award-text {
    text-align: justify;
    line-height: 2.8rem;
  }

  .feedback-text {
    padding: 0 2rem;
  }

  .award-text {
    padding: 0 1rem;
  }

  footer {
    height: auto;
    text-align: center;
    padding-bottom: 6rem;
  }

  .show-mb-tb {
    display: block;
  }

  .close-mb-tb {
    display: none;
  }

  .scrolling {
    padding: 1.3rem 0;
    box-shadow: 0 3px 20px #e4e8f4;
  }

  .navbar-link {
    height: 100vh;
  }

  .navbar-link a {
    font-size: 3.4rem;
    margin-bottom: 15%;
  }
}

@media only screen and (max-width: 400px) {
  .award-content {
    padding: 0 2rem;
  }

  .award-title {
    text-align: left;
  }

  .award-text {
    text-align: left;
    padding: 0;
  }

  .experienced-content {
    padding-left: 5%;
    padding-right: 5%;
  }

  .feedback-title {
    text-align: left;
    font-size: 2.45rem;
    padding-left: 1rem;
  }

  .feedback-text {
    text-align: left;
    padding: 0 1rem;
  }

  .social-title {
    font-size: 2.8rem;
  }

  .social-icon a:first-child {
    margin-left: 1.5rem;
  }

  .show-mb-tb {
    display: block;
  }

  .close-mb-tb {
    display: none;
  }

  .scrolling {
    padding: 1.3rem 0;
    box-shadow: 0 3px 20px #e4e8f4;
  }

  .padding-mb-tb {
    padding-top: 3rem;
  }

  .social-title {
    padding-top: 6rem;
    text-align: left;
  }

  .footer-title {
    padding-top: 6.5rem;
    font-size: 1.8rem;
  }

  .footer-text {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 360px) {
  .social-icon a:first-child {
    margin-left: 0;
  }

  .social-icon a {
    margin-right: 1.5rem;
  }
  .social-title {
    font-size: 2.2rem;
  }

  .home-title h1 {
    font-size: 3.5rem;
  }

  .home-title h3 {
    font-size: 2rem;
    margin-left: 15.7rem;
  }

  .feedback-title,
  .award-title {
    font-size: 2rem;
  }

  .feedback-text,
  .award-text,
  .experienced-text {
    font-size: 1.4rem;
  }

  .navbar-link a {
    font-size: 3rem;
    margin-bottom: 14%;
  }
}
